# Bonus: Temperature Analysis I

In [74]:
import pandas as pd
from datetime import datetime as dt

In [75]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [76]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])

df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [77]:
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [78]:
# Set the date column as the DataFrame index
df.set_index(df.date)

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19  0.09    71
2017-08-20  USC00516128 2017-08-20   NaN    78
2017-08-21  USC00516128 2017-08-21  0.56    76
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [56]:
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [57]:
# Drop the date column

# WHY????
#df.drop(axis = 1, columns="date")

### Compare June and December data across all years

In [79]:
from scipy import stats
from numpy import mean

In [80]:
df['Month'] = df['date'].map(lambda x: x.strftime('%m'))

df

           station       date  prcp  tobs Month
0      USC00519397 2010-01-01  0.08    65    01
1      USC00519397 2010-01-02  0.00    63    01
2      USC00519397 2010-01-03  0.00    74    01
3      USC00519397 2010-01-04  0.00    76    01
4      USC00519397 2010-01-06   NaN    73    01
...            ...        ...   ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71    08
19546  USC00516128 2017-08-20   NaN    78    08
19547  USC00516128 2017-08-21  0.56    76    08
19548  USC00516128 2017-08-22  0.50    76    08
19549  USC00516128 2017-08-23  0.45    76    08

[19550 rows x 5 columns]

In [84]:
# Filter data for desired months

june_date = df.loc[df['Month'] == '06']

june_date

           station       date  prcp  tobs Month
133    USC00519397 2010-06-01  0.00    78    06
134    USC00519397 2010-06-02  0.01    76    06
135    USC00519397 2010-06-03  0.00    78    06
136    USC00519397 2010-06-04  0.00    76    06
137    USC00519397 2010-06-05  0.00    77    06
...            ...        ...   ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79    06
19493  USC00516128 2017-06-27  0.10    74    06
19494  USC00516128 2017-06-28  0.02    74    06
19495  USC00516128 2017-06-29  0.04    76    06
19496  USC00516128 2017-06-30  0.20    75    06

[1700 rows x 5 columns]

In [85]:
june_date['tobs'].value_counts()

76    194
78    183
77    176
75    175
74    169
72    152
73    145
79    129
71     97
70     82
80     65
69     49
81     32
68     23
67     10
82      7
65      3
66      3
83      2
84      2
85      1
64      1
Name: tobs, dtype: int64

In [86]:
# Identify the average temperature for June
avg_june_temp = june_date['tobs'].mean()
avg_june_temp

74.94411764705882

In [87]:
# Identify the average temperature for December
dec_date = df.loc[df['Month'] == '12']
avg_dec_temp = dec_date['tobs'].mean()
avg_dec_temp

71.04152933421226

In [97]:
# Create collections of temperature data
june_temps = []
june_temps = june_date['tobs'].values.tolist()
# for row in june_date:
#     if type(june_date.tobs) != 'NaN':
#         june_temps.append(june_date.tobs)

dec_temps = []
# for row in dec_date:
#     if type(dec_date.tobs) == int64:
#         dec_temps.append(dec_date.tobs)
dec_temps = dec_date['tobs'].values.tolist()
print(len(june_temps))
print(len(dec_temps))

1700
1517

In [95]:
# Run paired t-test
stats.ttest_rel(june_temps, dec_temps)

ValueError: unequal length arrays

### Analysis

In [ ]:
# I would use a paired t test to compare because the sample group is the same (Hawaii) but at two different points in time.